.organizers-section {
	.organizers__profiles {
		&.row {
			display: flex;
			justify-content: space-around;
		}
	}

	.profile {
		margin: 0;
		cursor: pointer;
		text-align: center;

		.profile__img {
			display: none;
			width: 50%;
			border-radius: 50%;
		}

		.profile__name {
			padding: 0.8em 0.3em;
			font-size: 1.2rem;
			font-weight: 700;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			text-align: center;
		}

		&.profile--selected {
			.profile__name {
				color: blue;
			}
		}
	}

	@media (min-width: 600px) {
		.row {
			display: flex;
		}

		.profile {
			display: block;
			width: 100%;

			.profile__img {
				display: block;
				width: 100%;
			}

			&.profile--selected {
				.profile__img {
					border: 4px solid blue;
				}
			}
		}

		.profile + .profile {
			margin-left: 1.8em;
		}

		.organizer__about {
			justify-content: space-between;
			padding-top: 2em;

			.organizer__about--photo {
				align-self: flex-start;
				width: 50%;
			}

			.about__text {
				width: 45%;

				#about__name {
					margin: 0;
				}
			}
		}
	}

	@media (min-width: 800px) {
		.profile {
			.profile__img {
				margin: 0 auto;
				width: 80%;
			}
		}
	}
}
