.header-container {
	position: relative;
	height: 3em;
}

.hamburger-container {
	position: absolute;
	right: 0;
	padding: 0.7em 0;
	margin: 0.8em 0;
	cursor: pointer;
	z-index: 1;

	&.open {
		position: fixed;
		margin-right: 1em;
	}
}

.hamburger {
	position: relative;
	right: 0;
	height: 3px;
	width: 35px;
	background-color: #fff;
	border-radius: 3px;

	&::before {
		position: absolute;
		content: '';
		top: -0.6em;
		height: 100%;
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0.6em;
		height: 100%;
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
	}

	&.open {
		background-color: transparent;

		&::before {
			top: 0.2em;
			transform: rotate(45deg);
		}

		&::after {
			top: 0.2em;
			transform: rotate(-45deg);
		}
	}
}

.nav {
	padding: 2.2em 2em;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(100%, 0, 0);
	width: auto;
	height: 100vh;
	transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
	background-color: rgba(41, 157, 207, 0.9);

	&.visible {
		transform: translate3d(0, 0, 0);
	}
}

.main-nav,
.secondary-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	padding: 0.5em 0;

	&_link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: #fff;

		&:hover {
			color: #b3e7fd;
		}
	}
}

.main-nav {
	margin-bottom: 1em;
}

@media (min-width: 800px) {
	.nav {
		justify-content: space-between;
		position: static;
		transform: translate3d(0, 0, 0);
		transition: none;
		background-color: transparent;
		padding: 2.2em 0;
		height: auto;
	}

	.nav-item + .nav-item {
		margin-left: 1em;
	}

	.header-container {
		position: static;
		height: auto;
	}

	.hamburger-container {
		display: none;
	}
}
