.header-container {
  position: relative;
  height: 3em;
}

.hamburger-container {
  position: absolute;
  right: 0;
  padding: 0.7em 0;
  margin: 0.8em 0;
  cursor: pointer;
  z-index: 1;
}

.hamburger-container.open {
  position: fixed;
  margin-right: 1em;
}

.hamburger {
  position: relative;
  right: 0;
  height: 3px;
  width: 35px;
  background-color: #fff;
  border-radius: 3px;
}

.hamburger::before {
  position: absolute;
  content: '';
  top: -0.6em;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.hamburger::after {
  position: absolute;
  content: '';
  top: 0.6em;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.hamburger.open {
  background-color: transparent;
}

.hamburger.open::before {
  top: 0.2em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.open::after {
  top: 0.2em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  padding: 2.2em 2em;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  width: auto;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  background-color: rgba(41, 157, 207, 0.9);
}

.nav.visible {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.main-nav,
.secondary-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0.5em 0;
}

.nav-item_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.nav-item_link:hover {
  color: #b3e7fd;
}

.main-nav {
  margin-bottom: 1em;
}

@media (min-width: 800px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
    padding: 2.2em 0;
    height: auto;
  }
  .nav-item + .nav-item {
    margin-left: 1em;
  }
  .header-container {
    position: static;
    height: auto;
  }
  .hamburger-container {
    display: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #00a2e8;
  color: white;
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.6;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */