@import 'nav', 'bios';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #00a2e8;
	color: white;
	max-width: 1000px;
	margin: auto;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}

p {
	line-height: 1.6;
}

img {
	width: 100%;
}

.container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.row {
		display: flex;
	}
}
